@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond&display=swap');
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: goldenrod;
  
  
}
.content__container{
  
}
h1{
  font-family: 'Bree Serif', serif;
  color: black;
}
h2, h3, h4, p{
  color: black;
}
.title {
  color: black;
  font-weight: bolder;
}
.year {
  color: black;
  font-weight: bolder;
}
.main__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: goldenrod;
  padding: 1em;
}

.movie__library{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: goldenrod;
  border: 3px solid black;
  width: 70%;
}
.movie__card{
  margin: .5em;
}

.favorites{
  background-color: hotpink;
  padding-left: 50px;
}
.favorite__list{
  border: 3px solid hotpink;
  width: 30%;
}

